@model GisDes.Models.Integrante

@{
    ViewBag.Title = "CrearIntegrante";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Crear Integrante</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                <input name="Nombre" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Apellidos</label>
            <div class="col-md-10">
                <input name="Apellidos" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Cédula</label>
            <div class="col-md-10">
                <input name="Cedula" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nacionalidad</label>
            <div class="col-md-10">
                <input name="Nacionalidad" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sexo</label>
            <div class="col-md-10">
                <select name="Sexo" class="form-control">
                    <option></option>
                    <option>M</option>
                    <option>F</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Cvlac</label>
            <div class="col-md-10">
                <input name="Cvlac" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha de ingreso</label>
            <div class="col-md-10">
                <input name="FechaIngreso" type="date" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nivel Academico</label>
            <div class="col-md-10">
                <select class="form-control" name="idNivelAcademico">
                    <option value="0"></option>
                    @{
                        using (GisDes.Controllers.IntegranteController i = new GisDes.Controllers.IntegranteController())
                        {
                            foreach (GisDes.Models.NivelAcademico nivel in i.listarNivelesAcademicos())
                            {
                                <option value="@nivel.Id"> @nivel.Id @nivel.Nombre</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Correo</label>
            <div class="col-md-10">
                <input name="Correo" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tipo integrante</label>
            <div class="col-md-10">
                <select class="form-control" name="idTipoIntegrante">
                    <option value="0"></option>
                    @{
                        using (GisDes.Controllers.IntegranteController i = new GisDes.Controllers.IntegranteController())
                        {
                            foreach (GisDes.Models.TipoIntegrante tipo in i.listarTiposIntegrantes())
                            {
                                <option value="@tipo.Id"> @tipo.Nombre</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

