<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <img class="img-responsive" src="@Url.Content("~/Images/bannerTemp.png")" />
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Home Page", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Gestion de datos<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>@Html.ActionLink("Grupos de investigacion", "Make", "Home")</li>
                                <li>@Html.ActionLink("Semilleros de investigacion", "AsociarIntegranteSemillero", "Semillero")</li>
                                <li>@Html.ActionLink("Lineas de investigacion", "Make", "Home")</li>
                                <li>@Html.ActionLink("Integrantes", "Make", "Home")</li>
                                <li>@Html.ActionLink("Estados", "Make", "Home")</li>
                                <li>@Html.ActionLink("Articulos", "Make", "Home")</li>
                                <li>@Html.ActionLink("Eventos", "Make", "Home")</li>
                                <li>@Html.ActionLink("Proyectos", "Make", "Home")</li>
                                <li>@Html.ActionLink("Categorias(Libro, Revistar)", "Make", "Home")</li>
                                <li>@Html.ActionLink("Tipo integrantes", "Make", "Home")</li>
                                <li>@Html.ActionLink("Reconocimientos", "Make", "Home")</li>
                                <li>@Html.ActionLink("Libros", "Make", "Home")</li>
                                <li>@Html.ActionLink("Actividads", "Make", "Home")</li>
                                <li>@Html.ActionLink("Clasificación de grupos de investigación", "Make", "Home")</li>
                                <li>@Html.ActionLink("Nivel académico", "Make", "Home")</li>

                            </ul>
                        </li>
                        <li>@Html.ActionLink("Investigacion", "Make", "Home")</li>
                        <li>@Html.ActionLink("Proyeccion", "Make", "Home")</li>
                        <li>@Html.ActionLink("Academico", "Make", "Home")</li>
                        <li>@Html.ActionLink("Eventos y reconocimientos", "Make", "Home")</li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Reportes <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Listar semilleros por numero de integrantes", "ReporteSemillerosNumIntegrantes", "Reportes")</li>
                                <li>@Html.ActionLink("Semillero de investigacion", "Index", "Home")</li>
                                <li>@Html.ActionLink("Estudiantes", "Index", "Estudiante")</li>
                                <li>@Html.ActionLink("Listar integrantes de un semillero", "Index", "Semillero")</li>
                                <li>@Html.ActionLink("Crear integrantes", "CrearIntegrante", "Integrante")</li>
                                <li>@Html.ActionLink("Crear semilleros de investigacion", "CrearSemillero", "Semillero")</li>
                                <li>@Html.ActionLink("Listar semilleros de investigacion", "ListarSemillero", "Semillero")</li>
                                <li>@Html.ActionLink("Crear integrante", "CrearIntegrante", "Integrante")</li>
                                <li>@Html.ActionLink("Eventos", "Index", "Evento")</li>
                                <li>@Html.ActionLink("Personas externas", "Index", "PersonaExterna")</li>
                                <li>@Html.ActionLink("Consultar Semillero por nombre o tag", "ConsultarSemillero", "Semillero")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  Todos los derechos son reservados - Programari @DateTime.Now.Year</p>
        </footer>
    </div>
    @if (ViewBag.viewMessage != null && ViewBag.viewMessage)
    {
        <script>
            swal({
                icon: "@ViewBag.IconMSG",
                title:"@ViewBag.TitleMSG",
                text: "@ViewBag.MessageMSG",
                buttons: false,
                timer: 4000,
            });
        </script>
        ViewBag.viewMessage = false;
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
