@model GisDes.Models.ActualizarSemillero

@{
    ViewBag.Title = "ActualizarSemillero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ActualizarSemillero</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SemilleroInvestigacion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.semillero.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.semillero.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.semillero.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.semillero.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.semillero.Coordinador, "Coordinador", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Selectorintegrante" name="Selectorintegrante">
                    <option> </option>
                    @if (Model.integrantes != null)
                    {
                        foreach (var integrante in Model.integrantes)
                        {
                            if (integrante.Id == Model.semillero.Coordinador)
                            {
                                <option value="@integrante.Id" selected="selected"> @integrante.Nombre </option>
                            }
                            else
                            {
                                <option value="@integrante.Id"> @integrante.Nombre </option>
                            }
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.semillero.Coordinador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.semillero.ObjetivoGeneral, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.semillero.ObjetivoGeneral, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.semillero.ObjetivoGeneral, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.semillero.ObjetivosEspecificos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.semillero.ObjetivosEspecificos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.semillero.ObjetivosEspecificos, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.semillero.LineaInvestigacion, "LineaInvestigacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
           
                <select id="Selectorintegrante" name="Selectorintegrante">
                    <option> </option>
                    @if (Model.LineInvetigacion != null)
                    {
                        foreach (var LineaInvestigacion in Model.LineInvetigacion)
                        {
                            if (LineaInvestigacion.Id == Model.semillero.Coordinador)
                            {
                                <option value="@LineaInvestigacion.Id" selected="selected"> @LineaInvestigacion.Nombre </option>
                            }
                            else
                            {
                                <option value="@LineaInvestigacion.Id"> @LineaInvestigacion.Nombre </option>
                            }
                        }
                    }
                </select>
                
                @Html.ValidationMessageFor(model => model.semillero.LineaInvestigacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.semillero.Enlace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.semillero.Enlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.semillero.Enlace, "", new { @class = "text-danger" })
            </div>
        </div>

   
        <div class="form-group">
            @Html.LabelFor(model => model.semillero.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.semillero.Tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.semillero.Tags, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("ir a la lista", "ListarSemillero")
</div>
