@model GisDes.Models.AsociarIntegrante

@{
    ViewBag.Title = "Asociar Integrante a Semillero de investigacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2>Asociar integrante a Semillero de investigacion</h2>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-group col-md-6">
            <label class="panel-title"> Nombre del integrante:</label>
            <select class="form-control" name="idIntegrante" required>
                <option></option>
                @{
                    foreach (GisDes.Models.Integrante integrante in Model.listarIntegrantes())
                    {
                        <option value="@integrante.Id">@integrante.Nombre @integrante.Apellidos</option>
                    }
                }
            </select>

            <label class="panel-title"> Semillero a pertenecer:</label>
            <select class="form-control" name="idSemillero" required>
                <option></option>
                @{
                    foreach (GisDes.Models.SemilleroInvestigacion semillero in Model.listarSemilleros())
                    {
                        <option value="@semillero.Id">@semillero.Nombre </option>
                    }
                }
            </select>
        </div>

        <div class="form-group col-md-6">
            <label class="panel-title"> Actividad: </label>
            <select class="form-control" name="idActividad"  >
                <option></option>
                @{
                    /*foreach (GisDes.Models.SemilleroInvestigacion semillero in Model.listarSemilleros())
                    {
                        <option value="@semillero.Id">@semillero.Nombre </option>
                    }*/
                }
            </select>

            <label class="panel-title"> Descripción :</label>
            <input class="form-control" type="text" name="desActividad" />

        </div>
            <div class="form-group col-md-6">
                <label class="panel-title">Fecha de ingreso al semillero:</label>
                <input class="form-control" type="date" name="fecha"  />
            </div>





        </div>

        <div class=" form-group col-md-12">
            <button class="btn btn-default" type="submit">Asociar</button>
            @Html.ActionLink("Regresar", "Index", "Home")
        </div>

        }

</body>
</html>


