@model GisDes.Models.CambiarEstadoSemillero

@{
    ViewBag.Title = "CambiarEstadoSemillero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cambiar estado a Semilleros de investigacion</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Cambio de estado</h2>
            <hr />
            <div class="form-group">
                <label class="col-md-12" id="lbNombreSemillero">Nombre del semillero:</label>
                <select id="idSemillero" class="form-control">
                    <option value="0"></option>

                    @foreach (GisDes.Models.SemilleroInvestigacion semillero in Model.listaSemilleros())
                    {
                        <option value="@semillero.Id">
                            @semillero.Nombre
                        </option>
                    }
                </select>

                <label class="col-md-12" id="lbEstado">Estado:</label>
                <select id="idEstado" class="form-control">
                    <option value="0"></option>
                    @foreach (GisDes.Models.Estado estado in Model.listaEstados())
                    {
                        <option value="@estado.Id">
                            @estado.Nombre
                        </option>
                    }
                </select>
            </div>
        </div>
        <button type="submit">Cambiar</button>
    }

</body>
</html>

