@model GisDes.Models.SemilleroDetalle

@{
    ViewBag.Title = "MostrarInformacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MostrarInformacion</h2>

<div>
    <h4>SemilleroInvestigacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semillero.Nombre)
        </dd>

        <dt>
            Coodinador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCoordinador)
        </dd>

        <dt>
            Objetivo General
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semillero.ObjetivoGeneral)
        </dd>

        <dt>
            Objetivos Especificos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semillero.ObjetivosEspecificos)
        </dd>

        <dt>
            Enalce
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semillero.Enlace)
        </dd>

        <dt>
              Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semillero.Estado)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ActualizarSemillero", new { id = Model.semillero.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
